/* resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.navbar  {
  background-color: #4fa0e9;
  line-height: 5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: white;
}

.main-page {
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.link-botton {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  text-align: center;
  font-weight: 900;
  
}

.review-details {
  text-align: center;
  margin: 2rem auto;
  width: 1000px;
  border: 1px solid black;
  padding: 2rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 30px auto;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  background-color: #4fa0e9;
  position: relative;
}

.trash {
  position: absolute;
  top: 0;
  right: 10px;
  top: 10px;
  color: red;
}



.review-item {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px;

}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
}

.form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px 50px ;
  justify-content: space-around;
  height: 430px;
  border-radius: 20px;
}

.form-title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin: 10px;
  border-radius: 5px;
}

.error {
  color: red;
}

.error-outline {
  border: 3px solid red;
}



