/* resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:root {
  --active-color: #fcb103;
  --navbar-color: #4fa0e9;
  --card-form-background-color: #ededed;
  --error-color: #fc3103;
  --submit-button: #207849;
  --rating: #f5ea05;
  --app-background-color: #edede1;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--app-background-color);
}

.navbar  {
  background-color: var(--navbar-color);
  line-height: 5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  
}

.link {
  text-decoration: none;
  color: #ededed;
}

.about-active:focus {
  color: var(--active-color);
  text-decoration: overline;
}

.link-active {
  text-decoration: overline;
}

.main-page {
  height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.link-botton {
  border: .0625rem solid black;
  padding: 1.25rem;
  margin: 1.25rem;
  text-decoration: none;
  color: black;
  border-radius: 1.25rem;
  text-align: center;
  font-weight: 900;
  background-color: white;
}

.link-botton:hover {
  background-color: var(--navbar-color);
  color: white;
}

.review-details {
  text-align: center;
  margin: 2rem auto;
  width: 62.5rem;
  border: .0625rem solid black;
  padding: 2rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .0625rem solid black;
  margin: 1.875rem auto;
  padding: 1.25rem;
  width: 30%;
  border-radius: .625rem;
  background-color: var(--card-form-background-color);
  position: relative;
}

.trash {
  position: absolute;
  top: 0;
  right: .625rem;
  top: .625rem;
  color: red;
  font-size: 1.5rem;
}

.review-item {
  font-size: 1.2rem;
  font-weight: 400;
  margin: .625rem;
  display: flex;
}

.rating {
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
}

.form-container {
  border: .0625rem solid black;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 3.125rem ;
  justify-content: space-around;
  height: 26.875rem;
  border-radius: 1.25rem;
  background-color: var(--card-form-background-color);
}

.form-title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin: .625rem;
  border-radius: .3125rem;
  height: 3.125rem;
  width: 17.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

.submit {
  background-color: var(--submit-button);
  color: white;
}

.error {
  color: var(--error-color);
  text-align: center;
}

.error-outline {
  border: .1875rem solid var(--error-color);
}

.about-section {
  border: .0625rem solid black;
  min-height: 25rem;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  font-weight: 400;
  line-height: 1.5625rem;
  box-shadow: .625rem .625rem;
  background-color: white;
}

.about-section-active {
  color: red;
}

.date {
  margin-top: 1.25rem;
  font-weight: 900;
}

.edit {
  position: absolute;
  color: green;
  font-size: 2rem;
  left: .625rem;
  bottom: 0;
}

.star {
  color: var(--rating);
  stroke: black;
  stroke-width: .0313rem;
}





